---
import "../styles/global.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&display=swap"
    />
    <script
      is:inline
      src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
    ></script>
  </head>
  <body class="bg-[var(--color-back)] overflow-x-hidden text-[var(--color-black)]">
    <slot />
    <script type="module">
      import "../scripts/main.js";
    </script>
  </body>
</html>
